# Part 1: First model

This notebook is just the first model, checking how everything works. No location key.

In [15]:
#Importing packages
import pandas as pd
import MySQLdb as mdb

In [16]:
#Lets fetch the data from MySQL database
con = mdb.connect(host = 'localhost', 
                  user = 'root',
                  database = 'Project',
                  passwd = '<password>', 
                  charset='utf8', use_unicode=True)
    
query_template = '''select *
                    from data_mining.nets_tickets
                    '''
cur = con.cursor(mdb.cursors.DictCursor)
cur.execute(query_template, )
data = cur.fetchall()
cur.close()
con.close()
nets_data = pd.DataFrame(list(data))

In [17]:
nets_data = nets_data.set_index('instance')
nets_data.head(3)

,begseat,channel,cost,endseat,event_date,invoice_date,margin,opponent,pc,profit,quantity,revenue,row,section,sold,ticket_type,vendor
instance,,,,,,,,,,,,,,,,,
01/02/2017_1/15/1.0/2.0,1,StubHub,110.00,2,2017-02-01,2017-01-31 17:47:59,0.34,New York Knicks,R,57.28,2,167.28,15,1,0,Seasons,DSE - Brooklyn Nets (New)
01/02/2017_1/15/12.0/13.0,12,StubHub,110.00,13,2017-02-01,2017-02-01 09:21:31,0.27,New York Knicks,R,40.96,2,150.96,15,1,1,Seasons,DSE - Brooklyn Nets (New)
01/02/2017_1/15/14.0/15.0,14,Ticketmaster,110.00,15,2017-02-01,2017-02-01 10:54:16,0.29,New York Knicks,R,44.44,2,154.44,15,1,0,Seasons,DSE - Brooklyn Nets (New)

In [18]:
#look at the values present in each of the categorical columns
print(nets_data['channel'].unique())
print(nets_data['opponent'].unique())
print(len(nets_data['opponent'].unique())) #just checking, 29 is correct. 30 teams in the NBA
print(nets_data['pc'].unique())
print(nets_data['ticket_type'].unique())
print(nets_data['vendor'].unique())

['StubHub' 'Ticketmaster' 'Ticket Network' 'Vivid Seats' 'Fanxchange'
 'Gametime' 'Unsold' 'Ticket Evolution' 'APEX' 'TickPick' 'SeatSmart'
 'Ticket City' 'Ticket Monster' 'Broker' 'SeatGeek' 'Razorgator' 'Team'
 'Rukkus' 'Individual Customers']
['New York Knicks' 'Orlando Magic' 'Milwaukee Bucks' 'Utah Jazz'
 'Atlanta Hawks' 'Detroit Pistons' 'Indiana Pacers' 'Charlotte Hornets'
 'Toronto Raptors' 'Washington Wizards' 'Cleveland Cavaliers'
 'Denver Nuggets' 'Philadelphia 76ers' 'Chicago Bulls'
 'Minnesota Timberwolves' 'Miami HEAT' 'New Orleans Pelicans'
 'Memphis Grizzlies' 'Boston Celtics' 'Oklahoma City Thunder'
 'Los Angeles Lakers' 'Houston Rockets' 'Dallas Mavericks'
 'Portland Trail Blazers' 'Golden State Warriors' 'San Antonio Spurs'
 'Phoenix Suns' 'Sacramento Kings' 'LA Clippers']
29
['R' 'S' 'B' 'L' 'K' 'V' 'U' 'T' 'P' 'M' 'Q' 'N' '5' '3' '4' 'X' '2' 'W'
 'Y' '1' 'E' 'I' 'J' 'F' 'C' 'G' 'H' 'D' 'Z']
['Seasons' 'Consign']
['DSE - Brooklyn Nets (New)' 'DSE - Brooklyn Nets (Consign)']

## 1.1 Dealing with categorical data

We need to convert the categorical data into a numerical representation in order to experiment with a logistic regression. For now, let's do one hot encoding, the categories have quite a few levels such that using dummy variables may make the model too large (we can also considering encoding with hash function for better efficiency).

In [19]:
#Let's get the relevant columns and split data for training and testing
from sklearn.model_selection import train_test_split

X_train = nets_data.loc[:, nets_data.columns != 'sold'] #Select everything but sold
X_train = X_train.drop('profit', 1) #drop profit for now, leave margin in as it gives us information about cost
Y_train = nets_data['sold'] #Select only sold 

X_train, X_test, Y_train, Y_test = train_test_split(X_train, Y_train, test_size=0.33) #Split 66% vs 33%

In [22]:
#Use preprocessing to encode the data. Used it for dates as well, not sure if thats the best method???
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression

categorical_features = ['channel','event_date', 'invoice_date', 'opponent', 'pc','ticket_type', 'vendor', 'row', 'section']
X_train_ordinal = X_train[categorical_features]
X_test_ordinal = X_test[categorical_features]

#Use LabelEncoder on the categorical features
le = preprocessing.LabelEncoder()
X_train_ordinal = X_train_ordinal.apply(le.fit_transform)
X_test_ordinal = X_test_ordinal.apply(le.fit_transform)
                                  
#Join numerical columns back 
numerical_features = ['begseat', 'cost', 'endseat', 'margin', 'quantity', 'revenue']
X_train_ordinal = X_train_ordinal.join(X_train[numerical_features], how='outer')
X_test_ordinal = X_test_ordinal.join(X_test[numerical_features], how='outer')

In [23]:
X_train_ordinal.shape

(42203, 15)

In [24]:
X_test_ordinal.shape #adds up correctly, making sure its all good

(20787, 15)

In [25]:
X_train_ordinal.tail()

,channel,event_date,invoice_date,opponent,pc,ticket_type,vendor,row,section,begseat,cost,endseat,margin,quantity,revenue
instance,,,,,,,,,,,,,,,
08/04/2017_7/12/9.0/10.0,8,43,37847,3,12,1,1,3,65,9,258.00,10,0.21,2,325.80
17/03/2017_220/5/21.0/22.0,1,36,32982,1,2,0,0,17,44,21,0.00,22,1.00,2,79.70
02/04/2017_1/15/1.0/4.0,15,42,37220,0,20,1,1,6,0,1,220.00,4,-0.11,4,198.00
12/01/2017_114/5/4.0/5.0,8,22,22628,17,24,1,1,17,12,4,100.00,5,-0.75,2,57.12
13/02/2017_25/4/13.0/14.0,15,32,29444,13,8,1,1,16,57,13,268.30,14,-0.04,2,257.40

In [26]:
X_test_ordinal.tail()

,channel,event_date,invoice_date,opponent,pc,ticket_type,vendor,row,section,begseat,cost,endseat,margin,quantity,revenue
instance,,,,,,,,,,,,,,,
01/04/2017_125/5/6.0/7.0,13,41,18106,20,22,1,1,17,20,6,160.98,7,0.10,2,178.20
06/10/2016_112/7/16.0/17.0,0,0,1546,7,24,1,1,19,11,16,0.00,17,1.00,2,43.10
13/02/2017_29/14/7.0/9.0,14,32,14643,13,19,1,1,5,60,7,180.00,9,0.00,3,0.00
22/12/2016_9/11/13.0/15.0,7,16,8706,8,12,1,1,2,67,13,387.00,15,0.77,3,1652.40
28/03/2017_7/7/11.0/12.0,13,40,17730,21,9,1,1,19,65,11,296.00,12,-0.01,2,293.04

In [37]:
#Lets try fitting the model and see
l = LogisticRegression()
l.fit(X_train_ordinal, Y_train)
Y_pred = l.predict_proba(X_test_ordinal)

In [41]:
from sklearn.metrics import log_loss
log_loss = log_loss(Y_test,Y_pred)

acc = l.score(X_test_ordinal, Y_test)

print(log_loss)
print(acc)

0.327150137743
0.904555731948